:root{
  --digit-color: #333333;
  --op-color: #ff9f0a;
  --mod-color: #a5a5a5;

}



.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  position:absolute;
  background: linear-gradient(320deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

}

button:hover{
  opacity: 0.4;
}

button:active{
  opacity: 0.4;
  transform: translateY(3px)
}


.btn-zero{
  color:white;
  background-color:var(--digit-color);
  border: none;
  border-radius: 30px;
  width: 110px;
  height: 47px;
  grid-column: span 2;
  margin-top: 3px
}

.btn-op{
  color: white;
  background-color: var(--op-color);
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}



.btn-mod{
  color: white;
  background-color: var(--mod-color);
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  
}

.btn-digit{
  color: white;
  font-size: large;
  background-color: var(--digit-color);
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.calculator-body{

  background-color: black;
  border-radius: 30px;
  height: 500px;
  width: 260px;
  display: block;
  
}

.key-body{
  padding-left: 10px;
  height: 56%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.output-field{
  color: white;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: -15px;
  font-size: 3em;
  display: flex;
  height: 42%;
}

#num-field{
  margin-left: auto;
  margin-top: auto;
}

